/*--------- SLIDER ---------*/
#slide { height:600px; width:900px; position:relative; overflow:hidden; z-index:2}

.slider {
	width:900px;
	margin:0 auto;
	position:relative;
	z-index:2
}
.items {
	display:none;
}

.slider .pagination {
		position:absolute;
		top:551px;
		left:369px;
		display:inline-block;
		height:20px;
		width:140px;
		border:1px solid #000;
		background:url(../images/pagination-bg.gif) left top repeat-x;
		border-radius:15px;
		-moz-border-radius:15px;
		-webkit-border-radius:15px;
		padding:5px 0 0 20px;		
		z-index:60;
	}
	.pagination li {
		float:left;
		padding:0 3px 0 0;
		font-size:0;
		line-height:0;
		margin:0;
		color:#252525;
		background:none !important;
	}
.slider .pagination a {
			display:block;
			width:15px;
			height:15px;
			background:url(../images/pagination-a-bg.gif) left 0px no-repeat;
			font-size:0;
			line-height:0;
			text-decoration:none;
		}
		.slider	.pagination li.current a {
				background:url(../images/pagination-a-active.gif) left 0px no-repeat;
			}

.slider .prev {
	display:block;
	width:25px;
	height:22px;
	background:url(../images/pagination-bg.gif) left top repeat-x;
	position:absolute;
	z-index:15;
	border-radius:15px;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	top:552px;
	left:359px;
	padding:2px 0 0 0;
	font-weight:bold;
	text-align:center;
	color:#fff;
	text-decoration:none;
}
	.slider .prev:hover {
		color:#999
	}
.slider .next {
	display:block;
	width:25px;
	height:22px;
	background:url(../images/pagination-bg.gif) left top repeat-x;
	position:absolute;
	z-index:15;
	border-radius:15px;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	top:552px;
	left:553px;
	padding:2px 0 0 0;
	font-weight:bold;
	text-align:center;
	color:#fff;
	text-decoration:none;
}
	.slider .next:hover {
		color:#999
	}
	
.slider .play {
	display:block;
	width:45px;
	height:22px;
	background:url(../images/pagination-bg.gif) left top repeat-x;
	position:absolute;
	z-index:15;
	border-radius:15px;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	top:552px;
	left:823px;
	padding:2px 0 0 0;
	text-align:center;
	color:#fff;
	text-decoration:none;
}
	.play span {
		display:none;
	}
	.play em {
		font-style:normal;
		display:block;
	}
.paused span {
	display:block;
}
.paused em {
	display:none;
}
.banner{
	width:260px;
	overflow:hidden;
	position:absolute;
	top:200px;
	color:#fff;
	right:0px;
	z-index:15;
	background:url(../images/png.png) left top repeat;
	padding:0px;
	border-radius:10px 0 0 10px;
	-moz-border-radius:10px 0 0 10px;
	-webkit-border-radius:10px 0 0 10px;
}
	.banner span {
		display:block;
		padding:20px;
	}

.slider .progbar {
	background:#000;
	width:100%;
	height:2px;
	position:absolute;
	top:0px;
	left:0px;
	z-index:999;
}
.slider .numStatus {
	display:block;
	width:45px;
	height:22px;
	background:url(../images/pagination-bg.gif) left top repeat-x;
	position:absolute;
	z-index:15;
	border-radius:15px;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	top:551px;
	left:583px;
	padding:2px 0 0 0;
	text-align:center;
	color:#fff;
	text-decoration:none;
}
/*-------- end slider -----------*/

.col-1 {
	float:left;
	width:400px;
	padding-right:50px
}
* + html .min {
	min-height:45px;
}
.col-2 {
	float:left;
	width:400px;
}
/*-------- end preset -------*/

.pic {height:600px!important; width:900px!important;}

/*--------- GALLERY ---------*/
#gal #slide { width:900px; height:500px; position:relative; overflow:hidden; padding:6px;box-shadow:inset 0 0 10px rgba(0,0,0,.1); z-index:2;margin:0 auto;}

#gal .gallery {
	width:900px;
	position:relative;
	z-index:2
}
#gal .items {display:none;}

#gal .pag {width:900px;padding:10px 0;margin:5px auto;position:relative;}
#gal .img-pags {position:static;left:33px;z-index:1;display:block;}
#gal .img-pags ul {margin:0}
#gal .img-pags li {	margin:0 5px 0 0;height:80px; width:80px;}
#gal .img-pags li a {position:relative;display:block;padding:5px;-webkit-transition:all 0.5s ease;-moz-transition:all 0.5s ease;-o-transition:all 0.5s ease;transition:all 0.5s ease;}
#gal .img-pags li a img {opacity:.6;-webkit-transition:all 0.5s ease;-moz-transition:all 0.5s ease;-o-transition:all 0.5s ease;transition:all 0.5s ease;}
#gal .img-pags li a span{ display:block; background:#000;}
#gal .img-pags li.active a,.img-pags li a:hover{box-shadow:inset 0 0 7px rgba(0,0,0,.6);}
#gal .img-pags li.active a img,.img-pags li a:hover img{ opacity:1;}
#gal .prev {
	display:block;
	position:absolute;
	z-index:15;
	bottom:35px;
	right:180px;
	text-decoration:none;
	border: 1px solid #DDD;
	padding:7px 11px 6px;
	text-shadow: 0 1px 1px white;
	box-shadow:0 1px 1px #fff;
	font: bold 11px Sans-Serif;
	white-space: nowrap;
	vertical-align: middle;
	color: #666;
	background: transparent;
	cursor: pointer;
	border-color: #ddd;
	border-radius:3px;
	background: -webkit-linear-gradient(top, white, #E0E0E0);
	background:    -moz-linear-gradient(top, white, #E0E0E0);
	background:     -ms-linear-gradient(top, white, #E0E0E0);
	background:      -o-linear-gradient(top, white, #E0E0E0);
	background:      linear-gradient(top, white, #E0E0E0);
	-pie-background:      linear-gradient(top, white, #E0E0E0);
	box-shadow:         0 1px 2px rgba(0,0,0,0.25), inset 0 0 3px #fff;
}
	#gal .prev:hover {color:#999}
#gal .next{
	display:block;
	position:absolute;
	z-index:15;
	bottom:35px;
	right:143px;
	text-decoration:none;
	border: 1px solid #DDD;
	padding:7px 11px 6px;
	text-shadow: 0 1px 1px white;
	box-shadow:0 1px 1px #fff;
	font: bold 11px Sans-Serif;
	white-space: nowrap;
	vertical-align: middle;
	color: #666;
	background: transparent;
	cursor: pointer;
	border-color: #ddd;
	border-radius:3px;
	background: -webkit-linear-gradient(top, white, #E0E0E0);
	background:    -moz-linear-gradient(top, white, #E0E0E0);
	background:     -ms-linear-gradient(top, white, #E0E0E0);
	background:      -o-linear-gradient(top, white, #E0E0E0);
	background:      linear-gradient(top, white, #E0E0E0);
	-pie-background:      linear-gradient(top, white, #E0E0E0);
	box-shadow:         0 1px 2px rgba(0,0,0,0.25), inset 0 0 3px #fff;
}
	#gal .next:hover {
		color:#999
	}

#gal .button1 {
	 left:0;
	top:35px;
	display:block;
	position:absolute;
	z-index:15;
	text-decoration:none;
	border: 1px solid #DDD;
	padding:7px 11px 6px;
	text-shadow: 0 1px 1px white;
	box-shadow:0 1px 1px #fff;
	font: bold 11px Sans-Serif;
	white-space: nowrap;
	vertical-align: middle;
	color: #666;
	background: transparent;
	cursor: pointer;
	border-color: #ddd;
	border-radius:3px;
	background: -webkit-linear-gradient(top, white, #E0E0E0);
	background:    -moz-linear-gradient(top, white, #E0E0E0);
	background:     -ms-linear-gradient(top, white, #E0E0E0);
	background:      -o-linear-gradient(top, white, #E0E0E0);
	background:      linear-gradient(top, white, #E0E0E0);
	-pie-background:      linear-gradient(top, white, #E0E0E0);
	box-shadow:         0 1px 2px rgba(0,0,0,0.25), inset 0 0 3px #fff;
}

#gal .button2 {
	left:880px;
	top:35px;
	display:block;
	position:absolute;
	z-index:15;
	text-decoration:none;
	border: 1px solid #DDD;
	padding:7px 11px 6px;
	text-shadow: 0 1px 1px white;
	box-shadow:0 1px 1px #fff;
	font: bold 11px Sans-Serif;
	white-space: nowrap;
	vertical-align: middle;
	color: #666;
	background: transparent;
	cursor: pointer;
	border-color: #ddd;
	border-radius:3px;
	background: -webkit-linear-gradient(top, white, #E0E0E0);
	background:    -moz-linear-gradient(top, white, #E0E0E0);
	background:     -ms-linear-gradient(top, white, #E0E0E0);
	background:      -o-linear-gradient(top, white, #E0E0E0);
	background:      linear-gradient(top, white, #E0E0E0);
	-pie-background:      linear-gradient(top, white, #E0E0E0);
	box-shadow:         0 1px 2px rgba(0,0,0,0.25), inset 0 0 3px #fff;
}
	
#gal .play {
	display:block;
	position:absolute;
	z-index:15;
	text-decoration:none;
	position:absolute !important; bottom:36px; right:20px; z-index:99; width:23px; height:15px;text-align:center;
	text-decoration:none;
	border: 1px solid #DDD;
	padding:6px 10px 5px;
	text-shadow: 0 1px 1px white;
	box-shadow:0 1px 1px #fff;
	font: bold 11px Sans-Serif;
	white-space: nowrap;
	vertical-align: middle;
	color: #666;
	background: transparent;
	cursor: pointer;
	border-color: #ddd;
	border-radius:3px;
	background: -webkit-linear-gradient(top, white, #E0E0E0);
	background:    -moz-linear-gradient(top, white, #E0E0E0);
	background:     -ms-linear-gradient(top, white, #E0E0E0);
	background:      -o-linear-gradient(top, white, #E0E0E0);
	background:      linear-gradient(top, white, #E0E0E0);
	-pie-background:      linear-gradient(top, white, #E0E0E0);
	box-shadow:         0 1px 2px rgba(0,0,0,0.25), inset 0 0 3px #fff;
}
	#gal .play span {
		display:none;
	}
#gal 	.play em {
		font-style:normal;
		display:block;
	}
#gal .paused span {
	display:block;
}
#gal .paused em {
	display:none;
}
#gal .banner{
	width:260px;
	overflow:hidden;
	position:absolute;
	top:200px;
	color:#fff;
	right:0px;
	z-index:15;
	background:url(../images/png.png) left top repeat;
	padding:0px;
	border-radius:10px 0 0 10px;
	-moz-border-radius:10px 0 0 10px;
	-webkit-border-radius:10px 0 0 10px;
}
	#gal .banner span {
		display:block;
		padding:20px;
	}

#gal .progbar {
	background:#000;
	width:100%;
	height:2px;
	position:absolute;
	bottom:0px;
	left:0px;
	z-index:999;
}
#gal .numStatus {
	display:block;
	padding:6px 10px 6px;
	position:absolute;
	z-index:15;
	bottom:130px;
	right:75px;
	text-align:center;
	text-decoration:none;
	border: 1px solid #DDD;
	text-shadow: 0 1px 1px white;
	box-shadow:0 1px 1px #fff;
	font: bold 11px Sans-Serif;
	white-space: nowrap;
	vertical-align: middle;
	color: #666;
	background: transparent;
	cursor: pointer;
	border-color: #ddd;
	border-radius:3px;
	background: -webkit-linear-gradient(top, white, #E0E0E0);
	background:    -moz-linear-gradient(top, white, #E0E0E0);
	background:     -ms-linear-gradient(top, white, #E0E0E0);
	background:      -o-linear-gradient(top, white, #E0E0E0);
	background:      linear-gradient(top, white, #E0E0E0);
	-pie-background:      linear-gradient(top, white, #E0E0E0);
	box-shadow:         0 1px 2px rgba(0,0,0,0.25), inset 0 0 3px #fff;
}
/*-------- end gallery -----------*/

/*--------- COUNTDOWN ---------*/

.counter_pos {margin:70px auto; width:545px; border:1px solid #CCC; background:#EEE; padding:10px; border-radius:5px}
.counter_pos1 {margin:20px auto; width:525px; }
.cntSeparator {font-size: 50px;margin: 24px 0px;color: #000; font-family:Georgia, "Times New Roman", Times, serif;}
.counter_desc{ position:relative; overflow:hidden; font-size:16px; font-weight:bold; line-height:1.2em; padding:5px 0 0 15px;}
.counter_desc div{ width:104px; text-align:center; float:left;}
.counter_desc .days {margin-left:10px;}
.counter_desc .hours {margin-left:45px;}
.counter_desc .minutes {margin-left:23px;}
.counter_desc .seconds {margin-left:12px;}